body{
    background-color: skyblue;
}

h1{
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    font-size: 50px;
}

h2{
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    font-size: 40px;
}

#pic1{
    width: 30%;
    float: left;
    padding: 0px;
}

#pic2{
    width: 30%;
    float: right;
    padding: 0px;
}

#buttons{
    text-align: center;
}

#Search{
    position: relative;
    top: -50px; 
    font-family: 'Indie Flower', cursive;
    background-color:transparent;
    border-radius:26px;
    cursor:pointer;
    color: black;
    font-size:26px;
    font-weight:bold;
    padding:12px 11px;
    text-decoration:none;
    height: 50px;
}
#Search:hover {
background-color:#68b8d9;
}
#Search:active {
position:relative;
}

#Check-Opponent{
    position: relative;
     top: 10px; 
    font-family: 'Indie Flower', cursive;
    background-color:transparent;
    border-radius:26px;
    cursor:pointer;
    color: black;
    font-size:26px;
    font-weight:bold;
    padding:12px 11px;
    text-decoration:none;
    height: 50px;
}
#Check-Opponent:hover{
    background-color:#68b8d9;
}
#Check-Opponent:active{
    position:relative;
    top:1px;
}

#button-container{
  display: flex;
  justify-content: space-around;
}

.Winner{
        position: relative;
        top: -20px;
        font-family: 'Indie Flower', cursive;
        background-color:transparent;
        border-radius:26px;
        cursor:pointer;
        color: black;
        font-size:26px;
        font-weight:bold;
        padding:12px 11px;
        text-decoration:none;
        height: 50px;
}
.Winner:hover{
        background-color:#68b8d9;
}
.Winner:active{
        position:relative;
        top:1px;
}

.Loser{
    position: relative;
    top: -20px;
    font-family: 'Indie Flower', cursive;
    background-color:transparent;
    border-radius:26px;
    cursor:pointer;
    color: black;
    font-size:26px;
    font-weight:bold;
    padding:12px 11px;
    text-decoration:none;
    height: 50px;
}
.Loser:hover{
    background-color:#68b8d9;
}
.Loser:active{
    position:relative;
    top:1px;
}

#score{
    top: 500px;
}

#scoreValue{
    top: 500px;
}

#round{
    top: 500px;
}
