body{
    background-image: url("https://big4-kentico-image-files-big4holidayparks.netdna-ssl.com/getmedia/8efcdde4-ec69-47a2-9ae1-b3f7692d43ef/Rainforest__QLD.jpg");
}

h1{
    background-color: purple;
    text-align: center;
    font-size: 40px;
    font-family: 'Cabin Sketch', cursive;
}

#Main-Container{
    display: flex;
    justify-content: space-around;
}

#Left-Container{
    display: flex;
    justify-content: center;
}

.Left-Bowerbird{
    height: 500px;
    width: 400px;
}

#Middle-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Begin-Intro {
    font-family: 'Cabin Sketch', cursive;
	box-shadow:inset 0px 0px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:26px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:26px;
	font-weight:bold;
	padding:32px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.Begin-Intro:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.Begin-Intro:active {
	position:relative;
	top:1px;
}

.Bowerbird-Info {
    font-family: 'Cabin Sketch', cursive;
	box-shadow:inset 0px 0px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:26px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:26px;
	font-weight:bold;
	padding:32px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.Bowerbird-Info:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.Bowerbird-Info:active {
	position:relative;
	top:1px;
}

#Right-Container{
    display: flex;
    justify-content: center;
} 

.Right-Bowerbird{
    height: 500px;
    width: 400px;
}



